---
layout: default
title: Home
page-class: homepage
---
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description }}</p>
	</div>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Enjoying travelling the long way</h2>

			<article>
				<h4>Distance <small>(km)</small>:</h4>
				<p id='totalDistance'></p>
			</article>
			<article>
				<h4>Boats:</h4>
				<p id='boat'></p>
			</article>
			<div class='clear'></div>
			<article>
				<h4>Trains:</h4>
				<p id='train'></p>
			</article>
			<article>
				<h4>Buses:</h4>
				<p id='bus'></p>
			</article>
			<div class='clear'></div>
			<article class='center'>
				<h4>Planes:</h4>
				<p id='plane'>0</p>	
			</article>
<!--			
			<p id='boat'>Boats: <span></span> </p>
			<p id='bike'>Bikes: <span></span> </p>
			
			<p id='bus'>Buses: <span></span> </p>
-->

			
			<script>

				// grab distances from the posts.distance and add them together
				var distance 	= 0;
				var methods 	= 0;
				var train 		= 0;
				var bus 			= 0;
				var boat 			= 0;
				var bike 			= 0;
				var motorbike	= 0;

				{% for post in site.posts %}

					distance += Number( {{ post.distance }} );
					methods += Number( {{ post.method }} );
					train += Number( {{ post.train }} );
					bus += Number( {{ post.bus }} );
					boat += Number( {{ post.boat }} );
					bike += Number( {{ post.bike }} );
					motorbike += Number( {{ post.motorbike }} );
				{% endfor %}
				
				
				$('#totalDistance').text( distance );
				$('#methods').text( methods );
				$('#train').text( train );
				$('#bus').text( bus );
				$('#boat').text( boat );
				$('#bike').text( bike );
				$('#motorbike').text( motorbike );

			</script> 
		</header>
		<div class='clear'> </div>
		<ul class="icons major">
			<li><span class="icon major style1"><img src="/images/katPic.png" alt='Katherine mug shot' /></span></li>
			<li><span class="icon major style2"><img src="/images/jackPic.png" alt='Jack mug shot' /></span></li>
		</ul>
	</div>
</section>

<!-- Two -->
<div id="two"  class="wrapper style2 alt">
	{% for post in paginator.posts %}
	<section class="spotlight">
		<div class="image"><img src="{{ post.banner }}" alt="" /></div><div class="content">
			<h2><a href="{{ post.url }}" title="post__title">{{ post.title }}</a></h2>
			<p><a href="{{ post.url }}" title="post__title">{{ post.blurb }}</a></p>
		</div>
	</section>
	{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>