---
layout: default
title: Home
page-class: homepage
---
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description | markdownify }}</p>
	</div>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Enjoying travelling the long way</h2>

			<article>
				<p id='totalDistance'>Total distance: (km) <span></span> </p>
			</article>
			<article>
				<p id='methods'> Methods used: <span></span> </p>
			</article>
			<div class='clear'></div>
			<article>
				<p id='train'>Trains: <span></span> </p>
			</article>
			<article>
				<p id='motorbike'>Motorbike: <span></span> </p>
			</article>
			<div class='clear'></div>
			<article class='center'>
				<p id='plane'>Planes: <span>0</span> </p>	
			</article>
<!--			
			<p id='boat'>Boats: <span></span> </p>
			<p id='bike'>Bikes: <span></span> </p>
			
			<p id='bus'>Buses: <span></span> </p>
-->

			
			<script>

				// grab distances from the posts.distance and add them together
				var distance 	= 0;
				var methods 	= 0;
				var train 		= 0;
				var bus 			= 0;
				var boat 			= 0;
				var bike 			= 0;
				var motorbike	= 0;

				{% for post in paginator.posts %}
					distance += Number( {{ post.distance }} );
					methods += Number( {{ post.method }} );
					train += Number( {{ post.train }} );
					bus += Number( {{ post.bus }} );
					boat += Number( {{ post.boat }} );
					bike += Number( {{ post.bike }} );
					motorbike += Number( {{ post.motorbike }} );
				{% endfor %}
				
				
				$('#totalDistance span').text( distance );
				$('#methods span').text( methods );
				$('#train span').text( train );
				$('#bus span').text( bus );
				$('#boat span').text( boat );
				$('#bike span').text( bike );
				$('#motorbike span').text( motorbike );

			</script>
		</header>
		<div class='clear'> </div>
		<ul class="icons major">
			<li><span class="icon major style1"><img src="/images/katPic.png"></li>
			<li><span class="icon major style2"><img src="/images/jackPic.png"></li>
		</ul>
	</div>
</section>

<!-- Two -->
<section id="two"  class="wrapper style2 alt">
	{% for post in paginator.posts %}
	<section class="spotlight">
		<div class="image"><img src="{{ post.banner }}" alt="" /></div><div class="content">
			<h2><a href="{{ post.url }}" title="post__title">{{ post.title }}</a></h2>
			<p><a href="{{ post.url }}" title="post__title">{{ post.blurb }}</a></p>
		</div>
	</section>
	{% endfor %}
</section>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>