<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Page Wrapper -->
    <div id="page-wrapper"> 

      {% include header.html %}

      <article id="main">

        <header style='background-image: url({{ page.banner }})'>
          <div class="background"> 
            <h2>{{ page.title }}</h2>
            <p>{{ page.blurb }}</p>
          </div>
        </header>

        <section class="wrapper style5">
          <div class="inner post">
            {{ content }}
            
            {% if page.comments %}
              <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//thelongwayaround-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
            {% endif %}
          </div>
        </section>

      </article>

      {% include footer.html %}

      {% include scripts.html %}

    </div>
  <script id="dsq-count-scr" src="//thelongwayaround-com.disqus.com/count.js" async></script>
  </body>

</html>
