<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Page Wrapper -->
    <div id="page-wrapper"> 

      {% include header.html %}

      <article id="main">

        <header style='background-image: url({{ page.banner }})'>
          <div class="background"> 
            <h2>{{ page.title }}</h2>
            <p>{{ page.blurb }}</p>
          </div>
        </header>

        <section class="wrapper style5">
          <div class="inner post">
            {{ content }}
          </div>

          <div class="main">
            <ul id="og-grid" class="og-grid">
              <li>
                <a href='#' data-largesrc="/images/pic01.jpg" data-title="test" data-description="something nice to say">
                  <img src="/images/pic01.jpg" alt="img01"/> 
                </a>
              </li>
            </ul>
          </div>
        </section>

      </article>

      {% include footer.html %}

      {% include scripts.html %}

    </div>

<script>
			$(function() {
        Grid.init();
			});
		</script>
  </body>

</html>
